<phpunit bootstrap="lib/vendor/autoload.php">
    <testsuites>
        <testsuite name="PayDates Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
	<filter>
	<whitelist addUncoveredFilesFromWhitelist="true">
		<directory suffix=".php">./lib/mjburgess</directory>
	</whitelist>
	</filter>
	<logging>
	<log type="coverage-clover" target="./coverage.xml"/>
	</logging>
</phpunit>